html {
  scroll-behavior: smooth;
  transition: 0s ease-in;
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif, sans-serif;
  letter-spacing: 0.2em;
  font-weight: bold;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  background: #000000;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

#navigationMenuBackground {
  position: fixed;
  background: #030c0e94;
  width: 100vw;
  height: 70px;
  z-index: 50;
  top: 0;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 10%;
  width: 100vw;
  height: 20px;
  padding: 30px 100px;
  z-index: 1000;
  transition: 0.5s ease-in;
}

.logo {
  position: fixed;
  max-width: 20px;
  transform: scale(0.15);
  border-radius: 50%;
  top: -130px;
  left: 20px;
  z-index: 1000;
  filter: brightness(100%);
  transition: 0.2 ease-in-out;
  cursor: pointer;
  z-index: 2001;
}

.logo:hover {
  opacity: 0.4;
}

.topnav {
  overflow: hidden;
}

#myTopnav {
  position: fixed;
  display: block;
  z-index: 10000;
  right: 0;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  top: 0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  border-radius: 10%;
}

.topnav a.active {
  background: #929292;
  color: #000000;
}

.topnav a.active:hover {
  background: #ddd;
  color: #000000;
}

.navItems a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background: #c04e0c7a;
  color: #e7e7e7;
}

.topnav .icon {
  display: none;
}

/* following  eye design */

#cartoonanim {
  margin-left: 120px;
  margin-top: 30px;
  position: fixed;
  z-index: 5000;
}

#eyes .eye {
  position: absolute;
  z-index: 5000;
  width: 35px;
}

#lefteye {
  margin-left: 68px;
  margin-top: -12px;
  filter: brightness(04%);
  z-index: 5000;
}

#righteye {
  margin-left: 5px;
  margin-top: -12px;
  filter: brightness(04%);
  z-index: 5000;
}

#anchor {
  position: absolute;
  width: 108px;
  margin-top: -33px;
  filter: brightness(40%);
  z-index: 5000;
}

#scrollContainer {
  /* Enable scrolling for the container */
  width: 100vw;
  /* Make sure the container covers the viewport width */
  height: 100vh;
  /* Make sure the container covers the viewport height */
}

section {
  position: relative;
  /* Add this */
  /* ... other styles ... */
}

section img#sky {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  filter: brightness(20%);
}

/* adjust button */

#adjustButton {
  position: fixed;
  background-color: hsla(27, 44%, 56%, 0.356);
  color: rgba(255, 255, 255, 0.158);
  border: none;
  padding: 10px 10px;
  font-size: 1vw;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  transition: background-color 0.3s ease;
  z-index: 2000;
  /* Center horizontally and vertically */
  bottom: 20px;
  /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
}

#adjustButton:hover {
  background-color: #e76902;
  color: white;
}

/* loading Icon */

/* gate */

#maingate {
  margin-right: 20px;
}

section img#bigGate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 20;
  filter: saturate(0) brightness(10%);
}

#leftGateDoor {
  position: absolute;
  object-fit: cover;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100vw;
  height: 100vh;
  z-index: 19;
  filter: saturate(0) brightness(20%);
}

#rightGateDoor {
  position: absolute;
  object-fit: cover;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100vw;
  height: 100vh;
  z-index: 19;
  filter: saturate(0) brightness(20%);
}

section img#bigHouse {
  position: absolute;
  top: 0;
  display: block;
  margin-left: 4%;
  margin-right: auto;
  margin-top: -15px;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 5;
  filter: saturate(0) brightness(20%);
}

#charriot {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1863px;
  margin-top: 251px;
}

#charriot img {
  position: absolute;
  top: 0;
  left: 0;
  filter: saturate(0) brightness(40%);
}

.charriot-body {
  z-index: 8;
}

.charriot-window {
  z-index: 11;
}

.front-tyre-left {
  position: absolute;
  margin-top: 350px;
  margin-left: -20px;
  z-index: 18;
}

.front-tyre-right {
  position: absolute;
  margin-top: 358px;
  margin-left: 439px;
  z-index: 17;
}

.back-tyre-left {
  position: absolute;
  margin-top: 340px;
  margin-left: 10px;
  transform: scale(0.8);
  z-index: 7;
}

.back-tyre-right {
  position: absolute;
  margin-top: 341px;
  margin-left: 425px;
  transform: scale(0.8);
  z-index: 6;
}

#information {
  position: absolute;
  margin-top: 381px;
  margin-left: 1619px;
}

.chariotExploreBackground {
  position: absolute;
  margin-top: -70px;
  margin-left: 387px;
  z-index: 9;
  width: 394px;
  height: 112px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  animation: brightnessAnimation1 1s infinite alternate;
  filter: brightness(0.2);
}

@keyframes brightnessAnimation1 {
  0%,
  100% {
    filter: brightness(0.1);
  }
  25% {
    filter: brightness(0.3);
  }
  50%,
  75% {
    filter: brightness(0.07);
  }
}

.explore {
  position: absolute;
  margin-top: -44px;
  margin-left: 461px;
  z-index: 10;
  font-size: 3vw;
  color: rgb(255, 0, 212);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Tilt Prism", sans-serif;
  animation: brightnessAnimation2 6s infinite alternate;
}

.explore:hover {
  transform: scale(1.1);
  filter: brightness(100%);
  color: rgb(255, 102, 0);
  font-weight: bold;
}

@keyframes brightnessAnimation2 {
  0%,
  100% {
    filter: brightness(0.1);
  }
  25% {
    filter: brightness(0.4);
  }
  50%,
  75% {
    filter: brightness(0.3);
  }
}

.iconsBackground {
  position: absolute;
  margin-top: 11px;
  margin-left: 425px;
  z-index: 10;
  width: 342px;
  height: 112px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  animation: brightnessAnimation 4s infinite alternate;
}

@keyframes brightnessAnimation {
  0%,
  100% {
    filter: brightness(0.8);
  }
  25% {
    filter: brightness(1.1);
  }
  50%,
  75% {
    filter: brightness(0.7);
  }
}

.aboutChariot {
  position: absolute;
  margin-top: 20px;
  margin-left: 422px;
  z-index: 12;
  width: 99px;
  height: 112px;
  cursor: pointer;
  animation: moveUpDown 1s infinite alternate;
}

.aboutChariot:hover {
  animation-play-state: paused;
  transform: scale(1.4);
  filter: brightness(200%);
  width: 109px;
  height: 122px;
  margin-left: 418px;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.aboutText {
  position: absolute;
  text-transform: uppercase;
  font-family: "Indie Flower", sans-serif;
  font-size: 0.7vw;
  text-decoration: none;
  color: white;
  margin-top: 124px;
  margin-left: 444px;
  z-index: 12;
  filter: brightness(80%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.aboutText:hover {
  transform: scale(1.5);
  filter: brightness(100%);
  color: rgb(0, 255, 234);
  font-weight: bold;
}

.portfolioChariot {
  position: absolute;
  margin-top: 46px;
  margin-left: 530px;
  z-index: 13;
  width: 47px;
  height: 53px;
  animation: moveUpDown1 0.7s infinite alternate;
  cursor: pointer;
}

.portfolioChariot:hover {
  animation-play-state: paused;
  transform: scale(1.4);
  filter: brightness(170%);
  width: 57px;
  height: 63px;
  margin-left: 524px;
}

@keyframes moveUpDown1 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

.portfolioText {
  position: absolute;
  text-transform: uppercase;
  font-family: "Indie Flower", sans-serif;
  font-size: 0.7vw;
  text-decoration: none;
  color: white;
  margin-top: 122px;
  margin-left: 510px;
  z-index: 13;
  filter: brightness(80%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.portfolioText:hover {
  transform: scale(1.5);
  filter: brightness(100%);
  color: rgb(255, 192, 20);
  font-weight: bold;
}

.videoChariot {
  position: absolute;
  margin-top: 35px;
  margin-left: 610px;
  z-index: 14;
  width: 53px;
  height: 65px;
  animation: moveUpDown2 0.8s infinite alternate;
  cursor: pointer;
}

.videoChariot:hover {
  animation-play-state: paused;
  filter: brightness(200%);
  transform: scale(1.4);
  width: 63px;
  height: 75px;
  margin-left: 602px;
}

@keyframes moveUpDown2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.videoText {
  position: absolute;
  text-transform: uppercase;
  font-family: "Indie Flower", sans-serif;
  font-size: 0.7vw;
  text-decoration: none;
  color: white;
  margin-top: 118px;
  margin-left: 614px;
  z-index: 14;
  filter: brightness(80%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.videoText:hover {
  transform: scale(1.5);
  filter: brightness(100%);
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.contactChariot {
  position: absolute;
  margin-top: 30px;
  margin-left: 678px;
  z-index: 15;
  width: 60px;
  height: 71px;
  animation: moveUpDown 1s infinite alternate;
  cursor: pointer;
}

.contactChariot:hover {
  animation-play-state: paused;
  transform: scale(1.4);
  filter: brightness(200%);
  width: 70px;
  height: 81px;
  margin-left: 675px;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.contactText {
  position: absolute;
  text-transform: uppercase;
  font-family: "Indie Flower", sans-serif;
  font-size: 0.7vw;
  text-decoration: none;
  color: white;
  margin-top: 118px;
  margin-left: 676px;
  z-index: 15;
  filter: brightness(80%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.contactText:hover {
  transform: scale(1.5);
  filter: brightness(100%);
  color: rgb(0, 202, 44);
  font-weight: bold;
}

#welcomeNote {
  position: absolute;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  right: 40%;
}

#welcomeNote p {
  position: fixed;
  color: rgba(255, 255, 255, 0.856);
  font-size: 4vw;
  font-family: "Tilt Prism", sans-serif;
  text-transform: uppercase;
  z-index: 50;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

#welcomeNote .line {
  margin-top: 9%;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

#smallWords p {
  font-size: 3vw;
  margin-top: 2vh;
}

#welcomeNote:has(.fancy1:hover) .word:not(.fancy1:hover) {
  opacity: 0.2;
}

#welcomeMessage {
  position: absolute;
  top: 0;
  margin-top: 40%;
  width: 35%;
  margin-left: 75%;
  z-index: 100;
  transition: 0.05s;
  opacity: 1;
}

#welcomeMessage p {
  color: var(--default-color);
  font-size: 1.2vw;
  font-family: "Times New Roman", Times, serif, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 50;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

#mbigword p {
  font-size: 1.5vw;
}

#welcomeMessage .line {
  margin-top: 2%;
  display: flex;
  justify-content: last baseline;
}

#welcomeMessage:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy:hover {
  transform: scale(1.2);
  color: white;
}

#welcomeMessage p span:hover {
  color: white;
  /* Set the default color to white */
}

#aboutPage {
  position: absolute;
  background: url(images/aboutcover.jpg);
  width: 80vw;
  top: 50%;
  z-index: 50;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  left: 50%;
  transform: translate(-50%, -50%);
}

#aboutPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: -1;
}

#aboutPage h1 {
  color: white;
  width: 60vw;
  font-size: 3vw;
  font-family: "Indie Flower", sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  cursor: pointer;
}

#aboutPage p {
  color: white;
  font-family: "Indie Flower", sans-serif;
  width: 60vw;
  font-size: 2vw;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  cursor: pointer;
}

.myImage {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  left: 25%;
}

.word-effect {
  font-family: "Indie Flower", sans-serif;
}

/* Additional styles for the hover effect */

.word-effect:hover {
  transform: scale(1.2);
  background-color: hsl(25, 100%, 80%);
}

#scrollToCharriot {
  z-index: -20;
  margin-top: 270%;
}

@media screen and (max-width: 700px) {
  #adjustButton {
    position: fixed;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 2000;
    /* Center horizontally and vertically */
    bottom: 20px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  #adjustButton:hover {
    background-color: #e76902;
  }
}

@media screen and (max-width: 1200px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    right: 0;
    font-size: 6vw;
  }
}

@media screen and (max-width: 1200px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: white;
    /* Set the color to white */
  }
  .navItems a.active {
    background: #666666;
    color: #e7e7e7;
  }
  .navItems a:hover {
    background: #e7e7e7;
    color: #000000;
  }
  .navItems a.active:hover {
    background: #e7e7e7;
    color: #000000;
  }
  header {
    margin-left: 30%;
  }
  .icon:hover {
    transform: scale(1.1);
    transition: 0.1s;
  }
  #charriot {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1363px;
    margin-top: 171px;
  }
  #information {
    position: absolute;
    margin-top: 301px;
    margin-left: 1119px;
  }
  .explore {
    position: absolute;
    margin-top: -40px;
    margin-left: 469px;
    z-index: 10;
    font-size: 8vw;
    color: rgb(255, 0, 212);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Tilt Prism", sans-serif;
    animation: brightnessAnimation2 6s infinite alternate;
  }
  .aboutText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 2vw;
    text-decoration: none;
    color: white;
    margin-top: 124px;
    margin-left: 444px;
    z-index: 12;
  }
  .aboutText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(0, 255, 234);
    font-weight: bold;
  }
  .portfolioText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 2vw;
    text-decoration: none;
    color: white;
    margin-top: 122px;
    margin-left: 520px;
    z-index: 13;
  }
  .portfolioText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(255, 192, 20);
    font-weight: bold;
  }
  .videoText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 2vw;
    text-decoration: none;
    color: white;
    margin-top: 118px;
    margin-left: 614px;
    z-index: 14;
  }
  .videoText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(255, 0, 0);
    font-weight: bold;
  }
  .contactText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 2vw;
    text-decoration: none;
    color: white;
    margin-top: 118px;
    margin-left: 676px;
    z-index: 15;
  }
  .contactText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(0, 202, 44);
    font-weight: bold;
  }
  #scrollToCharriot {
    z-index: -20;
    margin-top: 850%;
  }
  section img#bigHouse {
    position: absolute;
    top: 0;
    display: block;
    margin-left: 4%;
    margin-right: auto;
    margin-top: -160px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 5;
    filter: saturate(0) brightness(20%);
  }
  #welcomeNote {
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    right: 45%;
  }
  #welcomeNote p {
    position: fixed;
    color: rgba(255, 255, 255, 0.856);
    font-size: 8vw;
    font-family: "Tilt Prism", sans-serif;
    text-transform: uppercase;
    z-index: 50;
  }
  #welcomeNote .line {
    margin-top: 20%;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  #smallWords p {
    font-size: 6vw;
    margin-top: 2vh;
  }
  #welcomeMessage {
    position: absolute;
    top: 0;
    margin-top: 700px;
    width: 35%;
    margin-left: 65%;
    z-index: 100;
    transition: 0.05s;
    opacity: 1;
  }
  #welcomeMessage p {
    color: var(--default-color);
    font-size: 2.2vw;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 50;
    letter-spacing: 3px;
  }
  #mbigword p {
    font-size: 2.5vw;
  }
  #welcomeMessage .line {
    margin-top: 2%;
    display: flex;
    justify-content: last baseline;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .topnav a.icon {
    float: right;
    display: block;
    right: 0;
    top: 0;
  }
  .navItems {
    background-color: #000000;
    color: #e7e7e7;
    margin-top: 3%;
    width: auto;
  }
  #charriot {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1463px;
    margin-top: 171px;
  }
  #information {
    position: absolute;
    margin-top: 301px;
    margin-left: 1219px;
  }
  .explore {
    position: absolute;
    margin-top: -40px;
    margin-left: 459px;
    z-index: 10;
    font-size: 45px;
    color: rgb(255, 0, 212);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Tilt Prism", sans-serif;
    animation: brightnessAnimation2 6s infinite alternate;
  }
  .aboutText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-top: 124px;
    margin-left: 444px;
    z-index: 12;
  }
  .aboutText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(0, 255, 234);
    font-weight: bold;
  }
  .portfolioText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-top: 122px;
    margin-left: 520px;
    z-index: 13;
  }
  .portfolioText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(255, 192, 20);
    font-weight: bold;
  }
  .videoText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-top: 118px;
    margin-left: 614px;
    z-index: 14;
  }
  .videoText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(255, 0, 0);
    font-weight: bold;
  }
  .contactText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-top: 118px;
    margin-left: 676px;
    z-index: 15;
  }
  .contactText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(0, 202, 44);
    font-weight: bold;
  }
  #welcomeNote {
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    right: 45%;
  }
  #welcomeNote p {
    position: fixed;
    color: rgba(255, 255, 255, 0.856);
    font-size: 7vw;
    font-family: "Tilt Prism", sans-serif;
    text-transform: uppercase;
    z-index: 50;
  }
  #welcomeNote .line {
    margin-top: 55px;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  #smallWords p {
    font-size: 4vw;
    margin-top: 2vh;
  }
  #welcomeMessage {
    position: absolute;
    top: 0;
    margin-top: 700px;
    width: 35%;
    margin-left: 60%;
    z-index: 100;
    transition: 0.05s;
    opacity: 1;
  }
  #welcomeMessage p {
    color: var(--default-color);
    font-size: 1.8vw;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 50;
    letter-spacing: 3px;
  }
  #mbigword p {
    font-size: 2.5vw;
  }
  #welcomeMessage .line {
    margin-top: 2%;
    display: flex;
    justify-content: last baseline;
  }
  #scrollToCharriot {
    z-index: -20;
    margin-top: 850%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .topnav a.icon {
    float: right;
    display: block;
    right: 0;
    top: 0;
  }
  .navItems {
    background-color: #000000;
    color: #e7e7e7;
    width: auto;
  }
  #charriot {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1563px;
    margin-top: 171px;
  }
  #information {
    position: absolute;
    margin-top: 301px;
    margin-left: 1319px;
  }
  .explore {
    position: absolute;
    margin-top: -40px;
    margin-left: 459px;
    z-index: 10;
    font-size: 45px;
    color: rgb(255, 0, 212);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Tilt Prism", sans-serif;
    animation: brightnessAnimation2 6s infinite alternate;
  }
  .aboutText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-top: 124px;
    margin-left: 444px;
    z-index: 12;
  }
  .aboutText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(0, 255, 234);
    font-weight: bold;
  }
  .portfolioText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-top: 122px;
    margin-left: 520px;
    z-index: 13;
  }
  .portfolioText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(255, 192, 20);
    font-weight: bold;
  }
  .videoText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-top: 118px;
    margin-left: 614px;
    z-index: 18;
  }
  .videoText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(255, 0, 0);
    font-weight: bold;
  }
  .contactText {
    position: absolute;
    text-transform: uppercase;
    font-family: "Indie Flower", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-top: 118px;
    margin-left: 676px;
    z-index: 15;
  }
  .contactText:hover {
    transform: scale(2);
    filter: brightness(100%);
    color: rgb(0, 202, 44);
    font-weight: bold;
  }
  #welcomeNote {
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    right: 45%;
  }
  #welcomeNote p {
    position: fixed;
    color: rgba(255, 255, 255, 0.856);
    font-size: 6vw;
    font-family: "Tilt Prism", sans-serif;
    text-transform: uppercase;
    z-index: 50;
  }
  #welcomeNote .line {
    margin-top: 65px;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  #smallWords p {
    font-size: 4vw;
    margin-top: 2vh;
  }
  #welcomeMessage {
    position: absolute;
    top: 0;
    margin-top: 700px;
    width: 35%;
    margin-left: 60%;
    z-index: 100;
    transition: 0.05s;
    opacity: 1;
  }
  #welcomeMessage p {
    color: var(--default-color);
    font-size: 1.8vw;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 50;
    letter-spacing: 3px;
  }
  #mbigword p {
    font-size: 2.5vw;
  }
  #welcomeMessage .line {
    margin-top: 2%;
    display: flex;
    justify-content: last baseline;
  }
  #scrollToCharriot {
    z-index: -20;
    margin-top: 850%;
  }
}

@media screen and (max-width: 700px) {
  #welcomeMessage {
    position: absolute;
    top: 0;
    margin-top: 700px;
    width: 35%;
    margin-left: 68%;
    z-index: 100;
    transition: 0.05s;
    opacity: 1;
  }
  #welcomeMessage p {
    color: var(--default-color);
    font-size: 2.2vw;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 50;
    letter-spacing: 3px;
  }
  #mbigword p {
    font-size: 2.5vw;
  }
  #welcomeMessage .line {
    margin-top: 2%;
    display: flex;
    justify-content: last baseline;
  }
}
